:root {
    --main-color:#6C63FF;
    --heading-font-family:'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --secondary-color: #F9F7FE;
}

body {
    font-family: var(--default-font-family);
}


h1 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

img {
    border-radius: 10px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.about-section {
    padding: 160px 20px;
}


.about-section h1 {
    font-size: 64px;
    line-height: 80px;
}

.about-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.about-section-content {
    margin: 30px;
}

.main {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.main p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.main h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 26px;
    color: #272142;
}

.btn-branding {
    background: var(--main-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px; 
}

.btn-another-branding {
    border: 1px solid var(--main-color);
    border-radius: 4px;
    color: var(--main-color);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px; 
}

.project-description {
    padding: 120px 60px;
}

footer {
    font-family: var(--default-font-family);
    color: var(--main-color);
    text-align: center;
}

@media (max-width: 960px) {
    h1 {
        font-size: 44px;
        line-height: 1.5;
    }

    h2 {
        font-size: 42px;
    }

    .main {
        padding: 80px 20px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }

    .about-section {
        text-align: center;
        padding: 0;
    }
}